[user]
	email = theleewise@users.noreply.github.com
	name = Lee Wise
[credential]
	helper = cache
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	excludesfile = ~/.gitignore
[init]
	defaultBranch = master
[alias]
	ac = commit -a -m
